

@font-face{
	font-family: 'proxima_nova';
	src: url('ProximaNova-Reg.eot');
	src: url('ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
		 url('ProximaNova-Reg.woff2') format('woff2'),
		 url('ProximaNova-Reg.woff') format('woff'),
		 url('ProximaNova-Reg.ttf') format('truetype'),
		 url('ProximaNova-Reg.svg#proxima_nova') format('svg');
	font-weight: 400;
	font-style: normal;	
}

@font-face{
	font-family: 'proxima_nova';
	src: url('ProximaNova-Bold.eot');
	src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		 url('ProximaNova-Bold.woff2') format('woff2'),
		 url('ProximaNova-Bold.woff') format('woff'),
		 url('ProximaNova-Bold.ttf') format('truetype'),
		 url('ProximaNova-Bold.svg#proxima_nova') format('svg');
	font-weight: 700;
	font-style: normal;	
}

@font-face{
	font-family: 'proxima_nova';
	src: url('ProximaNova-Light.eot');
	src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		 url('ProximaNova-Light.woff2') format('woff2'),
		 url('ProximaNova-Light.woff') format('woff'),
		 url('ProximaNova-Light.ttf') format('truetype'),
		 url('ProximaNova-Light.svg#proxima_nova') format('svg');
	font-weight: 300;
	font-style: normal;	
}

@font-face{
	font-family: 'proxima_nova';
	src: url('ProximaNova-RegIt.eot');
	src: url('ProximaNova-RegIt.eot?#iefix') format('embedded-opentype'),
		 url('ProximaNova-RegIt.woff2') format('woff2'),
		 url('ProximaNova-RegIt.woff') format('woff'),
		 url('ProximaNova-RegIt.ttf') format('truetype'),
		 url('ProximaNova-RegIt.svg#proxima_nova') format('svg');
	font-weight: 400;
	font-style: italic;	
}


@font-face{
	font-family: 'proxima_nova';
	src: url('ProximaNova-Sbold.eot');
	src: url('ProximaNova-Sbold.eot?#iefix') format('embedded-opentype'),
		 url('ProximaNova-Sbold.woff2') format('woff2'),
		 url('ProximaNova-Sbold.woff') format('woff'),
		 url('ProximaNova-Sbold.ttf') format('truetype'),
		 url('ProximaNova-Sbold.svg#proxima_nova') format('svg');
	font-weight: 500;
	font-style: normal;	
}

@font-face{
	font-family: 'Prototype';
	src: url('Prototype.eot');
	src: url('Prototype.eot?#iefix') format('embedded-opentype'),
		 url('Prototype.woff2') format('woff2'),
		 url('Prototype.woff') format('woff'),
		 url('Prototype.ttf') format('truetype'),
		 url('Prototype.svg#Prototype') format('svg');
	font-weight: 400;
	font-style: normal;	
}

