/* ----------   BEGIN FILM DETAIL  ---------- */
.film--detail-content-top{ padding-bottom: 9px;}

.film--detail-title{text-align: left}

.comment--film{ width: 50%;}

.comment--film img{ width: 100%; }

.film-detail-bottom .promotion{ padding-left: 48px; padding-bottom: 98px; width: 50%;}

.film-detail-bottom h3{ padding-bottom: 16px; font-size: 20px; font-family: 'proxima_nova'}

.film-detail-bottom{ padding-bottom: 100px;}

/* ----------   END FILM DETAIL  ---------- */